.container-footer{
  background-color: rgba(0, 0, 0, 0.1); 
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-footer{
    font-size: 12px;
    overflow: hidden;
  }
  
}


@media screen and (max-width: 767px) {
  .container-footer{
    font-size: 12px;
    overflow: hidden;
    justify-content: space-between;

    .container-menu{
      display: none;
    }
  } 



}