.container-footer{
  background-color: rgba(0, 0, 0, 0.1); 
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-footer{
    font-size: 12px;
    overflow: hidden;
    
  }
  
}


@media screen and (max-width: 767px) {
  .container-footer{
    font-size: 12px;
    overflow: hidden;
    gap: 30px;

    .container-menu{
      display: none;
    }

    .redes{
      gap: 3px;
      margin-inline: 25px;
    }
  } 
}

